<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>首页</h1>
    <form th:action="@{/testRequestBody}" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="测试testRequestBody">
    </form>
    <br>
    <form th:action="@{/testRequestEntity}" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="测试testRequestEntity">
    </form>
    <br>
    <a th:href="@{/testResponse}">通过Servlet API的response对象响应浏览器数据</a><br>
    <a th:href="@{/testResponseBody}">通过@ResponseBody响应浏览器数据</a><br>
    <a th:href="@{/testResponseBodyUser}">通过@ResponseBody响应浏览器User对象</a><br>
    <div id="app">
        <a @click="testAxios" th:href="@{/testAxios}">springMVC处理Ajax</a>
    </div>
    <script th:src="@{static/js/vue.js}"></script>
    <script th:src="@{static/js/axios.min.js}"></script>
    <script>
        new Vue({
            el:'#app',
            methods:{
                testAxios:function(event){
                    axios({
                        method:"post",
                        url:event.target.href,
                        params:{
                            username:"admin",
                            password:"123456"
                        }
                    }).then(function(response){
                        alert(response.data)
                    });
                    event.preventDefault();
                }
            }
        })
    </script>
</body>
</html>